@model ReservationViewModel
@using BoatBooking.Class;

@{
    ViewData["Title"] = "Calendar";
}

<h1>Calendar</h1>
@*<body class="addboatBody">
    <a class="addBoatText" asp-controller="Booking" asp-action="AddReservation">
        <div class="addBoat">
            Add Reservation
            <input type="submit" value="+" style="padding: 0px 10px;">
        </div>
    </a>
    <div class="TableContainer">
        <div class="TableHeader">
            <span class="name">date</span>
            <span class="type">startTime</span>
            <span class="weight">endTime</span>
            <span class="certifacate">Certifacates</span>
            <span class="send" />
        </div>
        @foreach (Reservation reservation in Model.reservations)
        {
            <div class="TableContent">
                <span class="name">@reservation.Boat.Name</span>
                <span class="type">@reservation.type</span>
                <span class="weight">@reservation.WeightMin.ToString() - @boat.WeightMax.ToString()</span>
                <span class="certifacate">@reservation.authorizations</span>
                <span class="send">
                    <form asp-controller="Boot" asp-action="RemoveBoat">
                        <p hidden="hidden">
                            <input asp-for="Boat.Name" type="text" value="@boat.Name" />
                            <input asp-for="Boat.type" type="text" value="@boat.type" />
                            <input asp-for="Boat.WeightMax" type="number" value="@boat.WeightMax" />
                            <input asp-for="Boat.WeightMin" type="number" value="@boat.WeightMin" />
                            <input asp-for="Boat.authorizations" type="text" value="@boat.authorizations" />
                        </p>
                        <input type="submit" value="-">
                    </form>
                </span>
            </div>
        }
    </div>
</body>*@